<html>
	<head>
		<title>Text Annotate</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js" ></script>
		<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


	</head>
	<body>
	
		<div class="ui fixed inverted menu" style="background-image: linear-gradient( 111.8deg,  rgba(0,104,155,1) 19.8%, rgba(0,173,239,1) 92.1% );">
				<div class="ui container" >
					<div class="header item" ><i class="tasks icon"></i> <p style="font-size: 1.3rem">Text Annotate</p></div>
				</div>
		</div>